.title{
    margin-bottom: 40px;
    margin-top: 40px;
}
.info {
    overflow: hidden;
    background-color: #d8f3dc;
    font-size: 100 px;
    margin: 200 px;
    line-height: 2
}
  
.submit{
    margin-top: 250px;
    width: 100%;
    height: auto;
    width: center;
    text-align: center;

}
.submit :hover{
    background-color: #74c69d;
}
.textbox{
    border-width: 0.5 px;
    margin-top: auto;
}
