.title{
    border:#1b4332;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    font-size: 4em;
    background-color:#b7e4c7;
    
}
.Container{
    width: 50%;
    height: 50%;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 40%;
    padding: 10%;
    text-align: center;
}
.username span{
    border:white;
    /* width: auto;
    height: auto; */
    font-size: 2em;
    margin: auto;
    text-align: center;
}
.Password span
{  
    border:white;
    /* width: auto;
    height: auto; */
    font-size: 2em;
    margin: auto;
    text-align: center;
}
input
{
    font-size: 2em;
    border: black 2px solid;
}
button{
    margin-top: 5%;
    background-color: #D99F9F;
    border-radius: 20%;
    border: black 2px solid;
    font-size: 30px;
}
.submit :hover
{
    color: white;
}
.Signup{
    margin-top: 5%;
}
.Signup a
{
    color: #FF0000;
} 
.as_guest a{
    color: gray;
}