.title{
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 4em;
    /* border: black 2px solid; */
    background-color: #b7e4c7;
}
.fillin{
    background-color: #d8f3dc;
    margin-top: 5%;
    border: black 2px solid;
    text-align: center;
    font-size: 30px;
}
input{
    /* background-color: #d8f3dc; */
    margin-top: 2%;
    font-size: 30px;
    border:#FF0000 2px solid;
}
.submit{
    margin-top: -3%;
}
button{
    margin-top: 5%;
    background-color: #D99F9F;
    border-radius: 20%;
    border: black 2px solid;
    font-size: 30px;
}
button:hover{
    color: white;
    /* background-color: wheat; */
}